.sidebarDetail{
  /*background-color:white;*/
}

.magiclist{
  list-style-type: none;
}

.box{
  min-height: 100px;
  box-shadow: 0px 5px 8px #888888;
  border: 1px solid #ccc;
}

.large-2half{
  width: 28%;
  margin: 2%;
}
.circles-wrp{
  display: block;
  margin:auto;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

body{
  min-height:100%;
  background:#51264a
}


body {
  background: #F0F0F3;
}
.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

.signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
}
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  margin-left: 25%;
}
.signup-panel .button {
  margin-left: 35%;
}
